
body
{
  position: relative;
}

.navshadow
{
  box-shadow: 0 8px 8px rgba(191, 192, 193, 0.5);
  background-color: #206e13;
}


#myNavbar  li > a,
.navbar a.brand
{
  color: #fff;
}

#myNavbar  li > a:hover,
#myNavbar  li > a:active,
#myNavbar  li > a:focus
.navbar a.brand:hover
{
  color: #c0c0c0;
  text-shadow: 2px 2px 8px #c0c0c0;
  background-color: #1f4418;
}

#portfolio h2, li a, p, nav
{
font: 400 16px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
}

div.jumbo
{
  background: white;
}

.portfoliohead, .jumbotron .headline
{
  font-family: "Droid Sans", sans-serif;
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

#contact h2
{
  text-align: center;
}

form
{
  width: 320px;
  /*float: left;*/
  margin: 0 auto;
}
form > div
{
  position: relative;
  overflow: hidden;
}
form input, form textarea
{
  width: 100%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  margin-bottom: 5px;
  outline: 0;
}
form input#email, form input#email:focus
{
  border-radius: 0;
}

form input#name, form input#name:focus
{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

form textarea, form textarea:focus + label
{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
form input:valid, form textarea:valid
{
  background: white;
}
form input:focus, form textarea:focus
{
  border-color: #447243;
}
form input:focus + label, form textarea:focus + label
{
  background: #447243;
  color: white;
  font-size: 70%;
  padding: 1px 6px 5px 6px;
  z-index: 2;
  text-transform: uppercase;
}
form label
{
  transition: background 0.5s, color 0.5s, top 0.5s, bottom 0.5s, right 0.5s, left 0.5s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}
form textarea
{
  display: block;
  resize: vertical;
}

form.go-bottom input, form.go-bottom textarea
{
  padding: 12px 12px 12px 12px;
}
form.go-bottom label
{
  top: 0;
  bottom: -4px;
  left: 0;
  width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus
{
  padding: 4px 6px 12px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label
{
  top: 100%;
  margin-top: -16px;
}

.boxshadow
{
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

/* Make the image fit the box */
.boxshadow img
{
    width: 100%;
    border: 1px solid #447243;
    border-style: inset;
}

.boxshadow::after
{
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

[class*="col-"]
{
    background-clip: padding-box;
    border: 10px solid transparent;
}
