/* CSS Styles */


li a
{
  margin-right: 15px;
  color: #FFFFFF;
  /*font-family: "Gill Sans", Helvetica, sans-serif;*/
  font-size: 1.2em;
  margin-left: 10px;
}

.jumbotron, #portfolio h2, li a, p, nav
{
font-family: Tahoma, Helvetica, sans-serif;
}

#portfolio img.gallery
{
  border: 3px solid #pink;
}

#contact h2
{
  text-align: center;
}
